<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarTraders.DAL.Properties.Settings.CarTradersDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=CarTradersDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>